/*
Original design: 1024px (v3.0 - Apr 24, 2008) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/1024px/

Adapted/ported to Drupal by Nick Young - nickbits.co.uk 13 March 2009
*/

/* General tags */
body {background:url(images/background.gif) repeat-y top center #fff; color:#404040; font:76% Verdana,Tahoma,Arial,sans-serif; line-height:1.3em; margin:0 auto; padding:0}
a {color:#4088b8; font-weight:700; text-decoration:none}
a:hover {text-decoration:underline}
a img {border:0}
p {margin:0;}
ul,ol,dl {font-size:0.9em; margin:2px 0 16px 35px}
ul ul,ol ol {margin:4px 0 4px 35px}
blockquote {border:1px solid #dadada; font-size:0.9em; margin:20px 10px; padding:8px}
blockquote p {margin:0}

/* Headers */
h1 {color:#4088b8; font-size:3.6em; letter-spacing:-3px; margin:0 0 20px 25px}
h1 a {color:#4088b8; text-transform:none}
h2 {border-bottom:4px solid #dadada; color:#4088b8; font-size:1.4em; letter-spacing:-1px; margin:0 0 10px; padding:0 2px 2px 5px}
h3 {border-bottom:1px solid #dadada; color:#4088b8; font-size:1.2em; font-weight:700; margin:10px 0 8px; padding:1px 2px 2px 3px}

/* Main wrap */
#skip-link,#wrapper {color:#404040; margin:10px auto; padding:0; width:970px}
#header {margin:0}
#header #logo{margin-top:0.5em;margin-right:2em;/*float:left*/}
#skip-link {font-size:0.9em; padding:5px 2px 2px 3px; /*text-align:right*/}
#skip-link a {color:gray}

#skip-link{position: relative;}
#skip-link a{position:absolute;right:0;}

/* Main center */
#center {line-height:1.5em; padding:0; text-align:left;float:left;width:560px}
#center h3{margin:10px 0 8px}

body #center {width:960px}
/* 2 columns - sidebar-first */
body.sidebar-first #center {float: right;width:760px}

/* 2 columns - sidebar-last */
body.sidebar-second #center {float: left;width:760px}

/*3 columns*/
body.two-sidebars #center{float: left;width:560px}

/* sidebars */
#sidebar-first {float:left; line-height:1.4em; margin:0 0 5px; padding:1px 0 0; width:195px}
#sidebar-second {float:right; line-height:1.4em; margin:0 0 5px; padding:1px 0 0; width:195px}
.sidebar ul {font-size:0.9em; list-style:none; margin:0; padding:0 0 15px 10px}
.sidebar li {list-style:none; margin:0 0 4px; padding:0}
.sidebar li a {font-size:1.2em; font-weight:700; padding:2px}
.sidebar ul ul {line-height:1.2em; margin:4px 0 3px 15px; padding:0}
.sidebar ul ul li a {font-weight:400}
.sidebar h2 {margin:3px 0 8px}

/* Footer */
#footer {border-top:4px solid #dadada; clear:both; color:gray; font-size:0.9em; line-height:1.6em; margin:0 auto; padding:8px 0; text-align:right}
#footer p {margin:0; padding:0}
#footer a {color:#808080}
#center .node div.node_links {margin:0 0 30px 0;text-align:left}

/*meta formatting*/
.node_links {text-transform: capitalize;font-size: .8em; font-weight: bold; margin: 0 5px 0 0; color: #390505; font-style: normal}
#center .node_links a {color: #7EA4BC}
#center .node_links .links a:before {content: "\00BB"}
div.node_links {background: #edf5fa; border-bottom: 1px solid #b4d7f0;margin:10px;padding: 0 10px;}
div.node_links ul li{padding:0;}
div.node_links div.field-name-taxonomy-tags div{
	display: inline;
	padding-right: 10px;
}
.block div.node_links ul.links{padding: 0;}
.block div.node_links ul.links li{padding: 0 0.75em 0 0;}
h2.element-invisible{border:none;}
div#header h1{display:inline;}
/*
.div.node_links div.links {float: left}
.div.node_links div.terms {float: right}
.div.node_links div.links ul.links li {float: left}
.div.node_links div.terms ul.links li {float: left}
*/

/*node formatting*/
#center div.node  h2{padding:0;margin:0}
#center div.node  div.meta{color:#777;text-align:left;margin:0;padding:0;font-size:0.8em}
#center div.node  div.content p:first-child:first-line{font-weight: bold; font-style: italic; font-size: 1.1em; margin: 0 0 4px}
#center div.node  div.content p{padding-bottom:1em}
/* Additional classes */
.box {background:#4088b8; border:1px solid #c8c8c8; color:#fff; font-size:0.9em; line-height:1.4em; padding:10px 10px 10px 13px}
.box a {color:#f0f0f0}
.left {float:left; margin:0 15px 4px 0}
.right {float:right; margin:0 0 4px 15px}
.border,.photo {background:#fff; border:1px solid #bababa; margin:6px 18px 2px 5px; padding:2px}
.clear{clear:both}

/* NEW FOR D7 */
div.field-type-image img{background: #edf5fa; border: 1px solid #b4d7f0;padding:5px;margin:0 10px 10px 0;}
div.field-type-image{float: left;}

div#header{margin-bottom:40px;}
.user-picture img{
	float: right; 
  clear: right; 
  padding: 0;
  margin: 0 10px 10px 10px;
  border:4px solid #DADADA;
}
div.contextual-links-wrapper{
	border: 1px solid #000;
	border-radius: 5px;
	-moz-border-radius: 5px;
 	-webkit-border-radius: 5px;
	background-color: RGBA(0,0,0,0.75);
}
div#comments{
	
}
div#comments h2.comment-form,
div#comments form,
div#comments div.comment{
	border: 1px solid #b4d7f0;padding:5px;
	background-color:#fff;
	margin-top:10px;
}

div#comments h2.comment-form{
	border-bottom:none;
}
div#comments form{
	border-top:none;
	margin-top:0;
}

div#tabs-wrapper{width:100%}